@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

.sidebar-floating {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: lighten($custom-color-1, 5%);
    transition: 2s;

    &.sidebar-show {
        width: 30%;
    }

    .sidebar-close-btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: rgba(#fff, .7);

        &:hover {
            color: #fff;
        }
    }

    .item {
        padding: 0.75rem 1.25rem;
        border: 1px solid $custom-color-1;
    }
    
    .item-link {
        transition: 0.3s;
        color: rgba(#fff, .7);
        &:hover {
            color: #fff;
        }
    }
    
    .collapsible-link {
        color: rgba(#fff, .7);
        margin-left: 1rem;
        &:hover {
            color: #fff;
        }
    }
}
