@import 'src/assets/scss/_variables.scss';

.footer-special {
    background: $gradient-1;

    i {
        margin-top: 0.3rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    
    p {
        margin-left: 2.5rem;
    }

    .link {
        line-height: 2.5rem;
    }
}