/* Bootstrap */
/* Buradaki renkleri değiştirmek bootstrap'ın renklerini değiştirmez. */
/* Sadece component'lerin scss dosyalarında bu renklere erişmek için burada tekrar tanımlanmıştır. */
/* Bootstrap renklerini bootstrap-extended içerisindeki _variables.scss kısmından değiştirebilirsin.  */
$bs-primary:       #0d6efd;
$bs-secondary:     #20c997;
$bs-success:       #20c997;
$bs-info:          #0dcaf0;
$bs-warning:       #ffc107;
$bs-danger:        #dc3545;

/* https://stock.adobe.com/tr/270218690/ */
$custom-color-1: rgb(1,34,63);
$custom-color-2: rgb(1,89,57);
$custom-color-3: rgb(2,114,51);
$custom-color-4: rgb(3,165,60);
$custom-color-5: rgb(4,216,57);

$custom-bg-color-1: rgb(211, 234, 255);

/* Gradient */
$gradient-1: linear-gradient(90deg, $custom-color-1 20%, $custom-color-2 100%);
/* /Gradient */

/* Navbar */
$passive-link-color: rgba(255, 255, 255, 0.7);
$active-link-color: rgba(255, 255, 255, 1);
/* /Navbar */