/* https://stock.adobe.com/tr/270218690/ */
$custom-color-1: rgba(1,34,63, 1);
$custom-color-2: rgba(1,89,57, 1);
$custom-color-3: rgba(2,114,51, 1);
$custom-color-4: rgba(3,165,60, 1);
$custom-color-5: rgba(4,216,57, 1);