<!-- Ana Layout Template'i -->
<div class="container-fluid p-0 g-0">
    <!-- Navbar -->
    <ng-container *ngIf="layoutService.layoutConfig?.showNavbar">
        <ng-container *ngTemplateOutlet="navbar"></ng-container>
    </ng-container>
    <!-- /Navbar -->

    <!-- Menu -->
    <ng-container *ngIf="layoutService.layoutConfig?.showMenu">
        <ng-container *ngTemplateOutlet="menu"></ng-container>
    </ng-container>
    <!-- /Menu -->

    <!-- Content -->
    <ng-container *ngTemplateOutlet="content"></ng-container>
    <!-- /Content -->

     <!-- Footer -->
    <ng-container *ngIf="layoutService.layoutConfig?.showFooter">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>
    <!-- /Footer -->
</div>
<!-- /Ana Layout Template'i -->

<!---------------------------------- Bileşen Template'leri ---------------------------------------------------------->

<!-- Navbar Template'i -->
<ng-template #navbar>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <app-navbar></app-navbar>
        </div>
    </div>
</ng-template>
<!-- /Navbar Template'i -->

<!-- Menu Template'i -->
<ng-template #menu>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <app-menu></app-menu>
        </div>
    </div>
</ng-template>
<!-- /Menu Template'i -->

<!-- Content Template'i -->
<ng-template #content>
    <div class="row p-0 m-0 g-0">
        <div class="col-12 p-0 m-0">
            <app-content></app-content>
        </div>
    </div>
</ng-template>
<!-- /Content Template'i -->

<!-- Footer Template'i -->
<ng-template #footer>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <app-footer></app-footer>
        </div>
    </div>
</ng-template>
<!-- /Footer Template'i -->
