<!-- Ana Layout Template'i -->
<div class="container-fluid p-0 g-0">
    <!-- Navbar -->
    <ng-container *ngIf="layoutService.layoutConfig?.showNavbar">
        <ng-container *ngTemplateOutlet="navbar"></ng-container>
    </ng-container>
    <!-- /Navbar -->

    <!-- Content With Sidebar -->
    <ng-container *ngIf="layoutService.layoutConfig?.showSidebar">
        <ng-container *ngTemplateOutlet="contentWithSidebar"></ng-container>
    </ng-container>
    <!-- /Content With Sidebar -->

    <!-- Only Content -->
    <ng-container *ngIf="!layoutService.layoutConfig?.showSidebar">
        <ng-container *ngTemplateOutlet="onlyContent"></ng-container>
    </ng-container>
    <!-- /Only Content -->

    <!-- Footer -->
    <ng-container *ngIf="layoutService.layoutConfig?.showFooter">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>
    <!-- /Footer -->
</div>
<!-- /Ana Layout Template'i -->

<!---------------------------------- Bileşen Template'leri ---------------------------------------------------------->

<!-- Navbar Template'i -->
<ng-template #navbar>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <app-navbar></app-navbar>
        </div>
    </div>
</ng-template>
<!-- /Navbar Template'i -->

<!-- Content With Sidebar Template'i -->
<ng-template #contentWithSidebar>
    <!-- Content With Sidebar Template'i -->
    <div class="row p-0 m-0 g-0">
        <div class="col-2 p-0 m-0">
            <app-menu></app-menu>
        </div>
        <div class="col-10 p-0 m-0">
            <app-content></app-content>
        </div>
    </div>
</ng-template>
<!-- /Content With Sidebar Template'i -->

<!-- Only Content Template'i -->
<ng-template #onlyContent>
    <div class="row p-0 m-0 g-0">
        <div class="col-12 p-0 m-0">
            <app-content></app-content>
        </div>
    </div>
</ng-template>
<!-- /Only Content Template'i -->

<!-- Footer Template'i -->
<ng-template #footer>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <app-footer></app-footer>
        </div>
    </div>
</ng-template>
<!-- /Footer Template'i -->
