@import 'src/assets/scss/_variables.scss';

.navbar-special {
    background: $gradient-1;

    .btn-outline-success {
        color: $custom-color-5;
        border-color: $custom-color-5;

        &:hover {
            color: white;
            border-color: $custom-color-4;
            background-color: $custom-color-4;
        }
    }
}
