@import 'src/assets/scss/_variables.scss';

.navbar-special {
    background: $c-gradient-1;

    .hamburger-button {
        display: block;
        cursor: pointer;
    }

    .btn-outline-light {
        color: $c-passive-link-color;
        border-color: $c-passive-link-color;

        &:hover {
            color: $c-color-1;
            border-color: $c-active-link-color;
            background-color: $c-active-link-color;
        }
    }
}
