@import 'src/assets/scss/_variables.scss';

.navbar-special {
    background: $gradient-1;

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $passive-link-color;

                &:hover,
                &:focus,
                &.active {
                    color: $active-link-color;
                }
                
            }
        }
    }

    .btn-outline-success {
        color: $custom-color-5;
        border-color: $custom-color-5;

        &:hover {
            color: white;
            border-color: $custom-color-3;
        }
    }

    a {
        cursor: pointer;
        display: block;
        
        span {
            margin-left: 1rem;
            font-weight: 500;
            line-height: 2.2rem;
        }
    }
}

