<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-special shadow-lg">
    <div class="container-fluid">
        <!-- Eğer ekran lg breakpoint'inden küçükse alttaki hamburger butonu görünür, büyükse bu buton görünmez. -->
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Hamburger butonu görünmüyorsa solda, görünüyorsa ortada markamız görünür. -->
        <a class="navbar-brand" href="/">
            <img src="favicon.ico" alt="Uygulamanın logosu" width="32">
            <span class="brand">İş Yönetim</span>
        </a>

        <button *ngIf="_breakpointService.screenSize.width >= 576 && _breakpointService.screenSize.width < 992" class="btn btn-outline-success" routerLink="public/login">Giriş Yap</button>

        <!-- Eğer ekran lg breakpoint'inden küçükse alttaki link bloğu yokolur, büyükse görünür. -->
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="_breakpointService.isScreenXSmall()">
                    <a class="nav-link" routerLink="public/login" routerLinkActive="active">Giriş Yap</a>
                </li>
                <li class="nav-item" *ngFor="let link of links">
                    <a class="nav-link" [routerLink]="link.url" routerLinkActive="active">{{link.title}}</a>
                </li>
            </ul>
        </div>

        <button *ngIf="_breakpointService.screenSize.width >= 992" class="btn btn-outline-success" routerLink="public/login">Giriş Yap</button>
    </div>
</nav>



