<nav class="navbar navbar-expand navbar-dark bg-primary navbar-special">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="favicon.ico" alt="Uygulamanın logosu" width="32">
            <span class="brand">İş Yönetim</span>
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item" *ngFor="let link of links">
                <a class="nav-link" [routerLink]="link.url" routerLinkActive="active">{{link.title}}</a>
            </li>
        </ul>
        <button class="btn btn-outline-success" routerLink="public/login">Giriş Yap</button>
    </div>
</nav>
