@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

.sidebar-static {
    height: 100%;
    background-color: lighten($custom-color-1, 5%);

    .item {
        padding: 0.75rem 1.25rem;
        border: 1px solid $custom-color-1;
    }
    
    .item-link {
        color: rgba(#fff, .7);
        &:hover {
            color: #fff;
        }
    }
    
    .collapsible-link {
        color: rgba(#fff, .7);
        margin-left: 1rem;
        &:hover {
            color: #fff;
        }
    }
}
