<div class="container-fluid g-0 p-3">
    <div class="card shadow-lg">
        <div class="card-body">

            <!-- Card Başlığı -->
            <h2 class="card-title text-center fs-4">{{cardHeader}}</h2>
            <!-- /Card Başlığı -->

            <!-- Cari Hesap Ekleme/Düzenleme Formu -->
            <form #form="ngForm" (ngSubmit)="save(selectedAccountExtDto)">
                <!-- Hesap Tipi -->
                <!-- Formun öğeleri seçili hesap türüne göre şekillenecek. -->
                <div 
                    class="mt-3 mb-3"
                    [hidden]="selectedAccountExtDto.accountId != 0"
                >
                    <label class="mb-2" for="account-type-id">Hesap Tipi</label>
                    <select 
                        id="account-type-id"
                        name="accountTypeId"
                        class="form-select"
                        [(ngModel)]="selectedAccountExtDto.accountTypeId"
                        (change)="selectAccountType(selectedAccountExtDto.accountTypeId)"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.accountTypeId }"
                        (change)="selectedAccountExtDtoErrors.accountTypeId = ''"
                        tabindex="1"
                    >
                        <option 
                            *ngFor="let accountTypeDto of accountTypeDtos"
                            [value]="accountTypeDto.accountTypeId"
                        >
                            {{accountTypeDto.accountTypeName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.accountTypeId">
                        <div>{{selectedAccountExtDtoErrors.accountTypeId}}</div>
                    </div>
                </div>
                <!-- /Hesap Tipi -->

                <!-- Hesap Grubu -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="account-group-id">Hesap Grubu</label>
                    <select 
                        id="account-group-id"
                        name="accountGroupId"
                        class="form-select"
                        [(ngModel)]="selectedAccountExtDto.accountGroupId"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.accountGroupId }"
                        (change)="selectAccountGroup()"
                        [disabled]="selectedAccountExtDto.accountTypeName != 'Diğer' || selectedAccountExtDto.accountId != 0"
                        (change)="selectedAccountExtDtoErrors.accountGroupId = ''"
                        tabindex="2"
                    >
                        <option 
                            *ngFor="let accountGroupDto of accountGroupDtos"
                            [value]="accountGroupDto.accountGroupId"
                        >
                            {{accountGroupDto.accountGroupName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.accountGroupId">
                        <div>{{selectedAccountExtDtoErrors.accountGroupId}}</div>
                    </div>
                </div>
                <!-- /Hesap Grubu -->

                <!-- Ad Soyad -->
                <div 
                    class="mt-3 mb-3"
                    [hidden]="selectedAccountExtDto.accountTypeName == 'Diğer'"
                >
                    <label class="form-label" for="name-surname">Ad Soyad</label>
                    <input
                        id="name-surname"
                        type="text"
                        name="nameSurname"
                        [(ngModel)]="selectedAccountExtDto.nameSurname"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.nameSurname }"
                        (change)="selectedAccountExtDtoErrors.nameSurname = ''"
                        tabindex="3"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.nameSurname">
                        <div>{{selectedAccountExtDtoErrors.nameSurname}}</div>
                    </div>
                </div>
                <!-- /Ad Soyad -->
                
                <!-- Telefon Numarası -->
                <div 
                    class="mt-3 mb-3"
                    [hidden]="selectedAccountExtDto.accountTypeName == 'Diğer'"
                >
                    <label class="form-label" for="phone">Telefon Numarası</label>
                    <input
                        id="phone"
                        type="text"
                        name="phone"
                        [(ngModel)]="selectedAccountExtDto.phone"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.phone }"
                        [readOnly]="selectedAccountExtDto.accountId != 0"
                        (change)="selectedAccountExtDtoErrors.phone = ''"
                        tabindex="4"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.phone">
                        <div>{{selectedAccountExtDtoErrors.phone}}</div>
                    </div>
                </div>
                <!-- /Telefon Numarası -->
                
                <!-- Şube -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="branch-id">Şube</label>
                    <select 
                        id="branch-id"
                        name="branchId"
                        class="form-select"
                        [(ngModel)]="selectedAccountExtDto.branchId"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.branchId }"
                        [disabled]="selectedAccountExtDto.accountId != 0"
                        (change)="selectedAccountExtDtoErrors.branchId = ''"
                        tabindex="5"
                    >
                        <option 
                            *ngFor="let branchDto of branchDtos"
                            [value]="branchDto.branchId"
                        >
                            {{branchDto.branchName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.branchId">
                        <div>{{selectedAccountExtDtoErrors.branchId}}</div>
                    </div>
                </div>
                <!-- /Şube -->
    
                <!-- Hesap Adı -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="account-name">Hesap Adı</label>
                    <input
                        id="account-name"
                        type="text"
                        name="accountName"
                        [(ngModel)]="selectedAccountExtDto.accountName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.accountName }"
                        (change)="selectedAccountExtDtoErrors.accountName = ''"
                        tabindex="6"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.accountName">
                        <div>{{selectedAccountExtDtoErrors.accountName}}</div>
                    </div>
                </div>
                <!-- /Hesap Adı -->

                <!-- Hesap Kodu -->
                <div class="mt-3 mb-3">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="account-code">Hesap Kodu</label>

                        <!-- Hesap Kodu Üretme Butonu -->
                        <a class="code-link cursor-pointer" (click)="generateAccountCode()" *ngIf="selectedAccountExtDto.accountId == 0"><small>Kod Üret</small></a>
                        <!-- /Hesap Kodu Üretme Butonu -->
                    </div>
                    <input
                        id="account-code"
                        type="text"
                        name="accountCode"
                        [(ngModel)]="selectedAccountExtDto.accountCode"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.accountCode }"
                        [readOnly]="selectedAccountExtDto.accountId != 0"
                        (change)="selectedAccountExtDtoErrors.accountCode = ''"
                        tabindex="7"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.accountCode">
                        <div>{{selectedAccountExtDtoErrors.accountCode}}</div>
                    </div>

                </div>
                <!-- /Hesap Kodu -->
                
                <!-- Vergi Dairesi -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="tax-office">Vergi Dairesi</label>
                    <input
                        id="tax-office"
                        type="text"
                        name="taxOffice"
                        [(ngModel)]="selectedAccountExtDto.taxOffice"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.taxOffice }"
                        (change)="selectedAccountExtDtoErrors.taxOffice = ''"
                        tabindex="8"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.taxOffice">
                        <div>{{selectedAccountExtDtoErrors.taxOffice}}</div>
                    </div>
                </div>
                <!-- /Vergi Dairesi -->

                <!-- Vergi Numarası -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="tax-number">Vergi Numarası</label>
                    <input
                        id="tax-number"
                        type="number"
                        name="taxNumber"
                        [(ngModel)]="selectedAccountExtDto.taxNumber"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.taxNumber }"
                        (change)="selectedAccountExtDtoErrors.taxNumber = ''"
                        tabindex="9"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.taxNumber">
                        <div>{{selectedAccountExtDtoErrors.taxNumber}}</div>
                    </div>
                </div>
                <!-- /Vergi Numarası -->

                <!-- Kimlik Numarası -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="identity-number">Kimlik Numarası</label>
                    <input
                        id="identity-number"
                        type="number"
                        name="identityNumber"
                        [(ngModel)]="selectedAccountExtDto.identityNumber"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.identityNumber }"
                        (change)="selectedAccountExtDtoErrors.identityNumber = ''"
                        tabindex="10"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.identityNumber">
                        <div>{{selectedAccountExtDtoErrors.identityNumber}}</div>
                    </div>
                </div>
                <!-- /Kimlik Numarası -->

                <!-- Limit -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="limit">Limit</label>
                    <input
                        id="limit"
                        type="number"
                        name="limit"
                        [(ngModel)]="selectedAccountExtDto.limit"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.limit }"
                        (change)="selectedAccountExtDtoErrors.limit = ''"
                        tabindex="11"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.limit">
                        <div>{{selectedAccountExtDtoErrors.limit}}</div>
                    </div>
                </div>
                <!-- /Limit -->

                <!-- Standart Vade -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="standart-maturity">Standart Vade</label>
                    <input
                        id="standart-maturity"
                        type="number"
                        name="standartMaturity"
                        [(ngModel)]="selectedAccountExtDto.standartMaturity"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedAccountExtDtoErrors.standartMaturity }"
                        (change)="selectedAccountExtDtoErrors.standartMaturity = ''"
                        tabindex="12"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedAccountExtDtoErrors.standartMaturity">
                        <div>{{selectedAccountExtDtoErrors.standartMaturity}}</div>
                    </div>
                </div>
                <!-- /Standart Vade -->

                <!-- Bakiye -->
                <div 
                    class="mt-3 mb-3"
                    [hidden]="selectedAccountExtDto.accountId == 0"
                >
                    <label class="form-label" for="balance">Bakiye</label>
                    <input
                        id="balance"
                        type="number"
                        name="balance"
                        [(ngModel)]="selectedAccountExtDto.balance"
                        class="form-control"
                        tabindex="13"
                        readOnly
                    />
                </div>
                <!-- /Bakiye -->

                <!-- Butonlar -->
                <div class="container-fluid m-0">
                    <div class="row">
                        <div class="col-6">
                            <button 
                                type="submit" 
                                class="btn btn-success w-100" 
                                [disabled]="loading"
                                tabindex="14"
                            >
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Kaydet
                            </button>
                        </div>
                        <div class="col-6">
                            <button 
                                type="button" 
                                class="btn btn-secondary w-100"
                                (click)="cancel()"
                            >İptal
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /Butonlar -->
            </form>
            <!-- /Cari Hesap Ekleme/Düzenleme Formu -->
        </div>
    </div>
</div>
    