/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bg-color-1 {
    background-color: rgb(0, 72, 136);
}

.bg-color-2 {
    background-color: rgb(0, 136, 129);
}

.bg-color-3 {
    background-color: rgb(0, 136, 18);
}

.bg-color-4 {
    background-color: rgb(122, 136, 0);
}

.bg-color-5 {
    background-color: rgb(136, 0, 0);
}
