<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <!-- Use any element to open the sidenav -->
  <button (click)="openNav()">open</button>
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente tempora recusandae temporibus commodi nostrum, iure, ea accusamus veniam ut tempore amet sit veritatis omnis, expedita nam provident repellat voluptates.
    Aperiam unde eligendi sequi. Doloribus magni atque, consequatur laboriosam temporibus neque ab reiciendis eligendi. Illo excepturi consequuntur sapiente minus at magnam harum aperiam autem veniam nobis, praesentium hic odit iusto!
    Numquam illo esse doloremque voluptatem repellendus, sit reprehenderit, fugit ab officia nobis ut suscipit provident perspiciatis. Perspiciatis iure minima vel! Dolor nobis deserunt praesentium et ipsa repellat doloribus in minus?
    Id nulla neque vitae iusto. Consequuntur, quibusdam iste culpa facilis nihil ipsum hic officiis alias doloribus ullam laudantium sint itaque, quis quos voluptates corporis quaerat ratione explicabo fugiat earum in?
    Deserunt provident mollitia odio deleniti voluptate architecto voluptas quo labore libero autem repudiandae nisi dolorem, magni rem ad accusamus ipsam laborum aut repellat? Labore reprehenderit quibusdam iusto est, porro culpa!
    Voluptas, nemo! Impedit sequi quis non possimus facere placeat officiis molestiae eius sapiente consequatur aspernatur eos, nostrum deserunt minima vel nobis a officia, voluptate nulla? Deleniti placeat illum nihil cumque.
    Vel quo perferendis nostrum, repellat porro unde est aliquam nobis cum culpa in doloribus minima recusandae itaque ut harum mollitia quaerat odit assumenda! Excepturi quidem, dolorem ratione ab consequuntur at.
    Esse a deserunt suscipit possimus nemo praesentium autem nesciunt iusto necessitatibus, facere voluptatem recusandae vel nisi, ea ipsam obcaecati, eos animi voluptate nobis delectus rerum consectetur odio id? Veniam, fuga.
    Earum dolores, consequatur ducimus illum molestias et perferendis minima facilis fuga deleniti quod distinctio inventore, dicta repudiandae alias magni fugit, ut tenetur nemo officia eaque blanditiis? Recusandae vero dolorum eligendi.
    Deserunt fugiat inventore impedit adipisci magni ratione voluptatibus, repudiandae beatae, rem, alias qui ad soluta eius harum. Quibusdam quia eaque id, esse itaque earum voluptas, saepe dolor laboriosam, porro provident?
    Inventore ab cupiditate consectetur beatae laborum natus officia fuga? Blanditiis officiis, atque quisquam laboriosam at rerum laudantium doloremque deleniti sed eveniet magni accusamus ut? Quasi rem exercitationem at iusto nihil!
    Repudiandae praesentium atque assumenda similique. Mollitia saepe labore repudiandae. Magni necessitatibus sapiente quos voluptas nobis id ad autem tempore saepe consectetur labore sint aperiam dolore non laudantium veniam, dicta eveniet.
    Minus totam quo similique quod cum praesentium harum id recusandae culpa quidem. Dignissimos explicabo voluptatum necessitatibus deleniti ex, fuga molestiae accusamus dolor eius accusantium ipsam repudiandae, blanditiis praesentium odio dolorum!
    Itaque omnis reprehenderit eius rem veniam laudantium necessitatibus, ipsam mollitia, officiis doloremque cum voluptate laborum ab expedita nihil aliquam nostrum voluptas ipsa? Rem vitae ratione deleniti quidem odit praesentium est.
    Perspiciatis in voluptatum perferendis. Harum autem ad provident. Maiores excepturi exercitationem placeat earum! Sint ad quae labore voluptatibus iusto, accusantium, doloribus neque aliquid veniam, nobis suscipit obcaecati dolorem maxime voluptates?
    Ipsam, quas delectus! Corporis illum modi reiciendis sint animi perferendis, doloremque laboriosam dignissimos pariatur ipsam officia, labore id consequatur temporibus laudantium tempora! Alias unde architecto odio consequatur eligendi excepturi voluptatibus.
    Deserunt dolor ab quis, tempore esse unde dolorem corrupti, blanditiis soluta, omnis iusto tempora atque dolores optio deleniti ad minima mollitia inventore! Quam, fugiat. Sequi iure cum iste explicabo dolore?
    Sunt ab eum qui, animi quos quidem quia explicabo ex laudantium facere ea nemo adipisci modi possimus mollitia aut sed omnis iure, aspernatur ratione corporis similique. Non similique sapiente praesentium?
    Ipsa recusandae dolorum, iure, voluptas perferendis deserunt quis adipisci voluptatum facilis totam, dolorem qui voluptate alias laboriosam odio? Voluptate, amet dolorum. Voluptatem odio eligendi dolorem recusandae ab. Praesentium, sint consectetur.
    Mollitia, eos? Voluptatum quidem necessitatibus unde vero porro incidunt totam facilis vel ab. Atque rem fugit deleniti iste quos sed sunt voluptates nihil tenetur, cum possimus tempora dolor quo similique!</p>
</div>